﻿<form method="post" asp-controller="Account" asp-action="Login">
    <h1 class="Title2">Авторизация</h1>
    Тут все нужные поля для Авторизации
    <input class="ok_reg" type="submit" value="Авторизация">
</form>
