﻿<form method="post" asp-controller="Account" asp-action="Register">
    <h1 class="Title2">Регистрация</h1>
    Тут все нужные поля для регистрации
    <input class="ok_reg" type="submit" value="Регистрация">
</form>